<mat-card class="max-width[400px]" appearance="outlined">
    <mat-card-header>
        <div mat-card-avatar>
            <img mat-card-image [src]="pokemon?.sprites?.front_default" class="w-[10rem] " alt="Pokemon sprite">
        </div>
        <mat-card-title>{{ pokemon?.name }}</mat-card-title>
        <mat-card-subtitle>
            @for (type of pokemon?.types; track $index) {
                {{ type.type.name }}
            }
        </mat-card-subtitle>
    </mat-card-header>
    <img class="w-60 place-self-center" mat-card-image [src]="pokemon?.sprites?.front_default" alt="Pokemon sprite">
    <mat-card-content>
        @for (ability of pokemon?.abilities; track $index) {
            <p>
                {{ ability.ability.name }}
            </p>
        }
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>BUTTON</button>
    </mat-card-actions>
</mat-card>